@import url(../general.css);
#outerDiv {
    text-align: center;
    margin: 20px;
}

#gameDiv {
    border: 3px solid;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 5px;
}

#gameTextDiv p {
    margin-bottom: 20px;
    font-size: 30px;
}

.choiceBtn {
    position: relative;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(181, 210, 210);
    transition: all 0.2s;
}

button:hover {
    box-shadow: 1px 1px 1px;
    background-color: rgb(181, 200, 200);
}

button:active {
    left: 1px;
    top: 1px;
    box-shadow: none;
}

#winCountsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#winCountsDiv p {
    margin-top: 20px;
    font-size: 25px;
}

#playerText {
    color: blue;
}

#computerText {
    color: red;
}

#resetBtn {
    position: relative;
    width: 100%;
    padding: 20px;
}

@media(max-width:750px) {
    #gameTextDiv p {
        font-size: 25px;
    }
    #winCountsDiv p {
        font-size: 15px;
    }
}